@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

body{
    background-color:#101111;
}

.img1{
    width: 458px;
    margin-top: 39px;
    margin-left: 6px;
    float: left;
    border-radius: 237px;
}

.txt{
    width: 935px;
    color: #eff1f1;
    font-size: 33px;
    margin-left: 502px;
    margin-top: 100px;
    font-family: 'Chakra Petch', sans-serif;

}

.session{
    height: 600px;
    width: 980px;
    margin-top: 63px;
    margin-left: 450px;
    background-color: #CE0A31;
    border-radius: 60px;
}

.titulo{
    margin-left: 345px;
    color: #eff1f1;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;

}

.titulo2{
    margin-left: 345px;
    color: #eff1f1;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;

}

.cop1{
    color:#eff1f1;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    margin-bottom: 55px;
    text-decoration: none;
    list-style: none;
}

.site{
    margin-top: 260px;
}

.img-site{
    margin-left: 167px;
}

.text-site{
    color: #eff1f1;
    font-size: 35px;
    margin-left: 167px;
    font-family: 'Chakra Petch', sans-serif;
}

.titulo1{
    margin-left: 735px;
    color: #eff1f1;
    font-size: 40px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;

}

.link{
    color: #CE0A31;
}

.btn{
    margin-left: 690px;
    font-size: 30px;
    border-radius: 30px;
    height: 70px;
    width: 322px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 60px;
}

.link-btn{
    text-decoration: none;
    color: #070707;
}

.session1{
    height: 600px;
    width: 980px;
    margin-top: 122px;
    margin-left: 450px;
    background-color: #6329C0;
    border-radius: 60px;
}

.link-txt{
    color: #eff1f1;
}



@media(max-width: 1702px) {
    .text-site{
        width: 1273px;
    }
    .session{
        margin-left: 375px;
    }
    .session1{
        margin-left: 375px;
    }
    .img-site{
        margin-left: 135px;
    }
    .titulo2{
        margin-left: 410px;
    }
}

@media( max-width: 1573px){
    .img-site{
        margin-left: 60px;
    }
    .titulo1{
        margin-left: 640px;
    }
    .txt-site{
        margin-left: 90px;
    }
    .session{
        margin-left: 250px;
    }
    .session1{
        margin-left: 250px;
    }
    .btn{
        margin-left: 550px;
    }


}
@media (max-width: 1468px){
    .txt{
        width: 700px;
    }
}

@media (max-width: 1480px) {
    .session{
        margin-left: 195px;
    }
    .titulo1{
        margin-left: 555px;
    }
    .text-site{
        margin-left: 45px;
    }
    .btn{
        margin-left: 535px;
    }
    .session1{
        margin-left: 195px;
    }

}

@media (max-width: 1474px) {
    .img-site{
        width: 1256px;
        margin-left: 15px;
    }

}

@media (max-width: 1344px) {
    .img-site{
        width: 1256px;
        margin-left: 15px;
    }
    .text-site{
        width: 1207px;
    }

}

@media (max-width: 1310px) {
    .img-site{
        width: 1182px;
        margin-left: 15px;
    }
    .text-site{
        width: 1065px;
    }

}

@media (max-width: 1277px) {

    .img1{
        width: 380px;
    }
    .txt{
        margin-left: 408px;
    }
}

@media (max-width: 1230px) {
    .session{
        margin-left: 85px;
    }

    .img-site{
        width: 1105px;
        margin-left: 15px;
    }
    .titulo1{
        margin-left: 451px;
    }
    .btn{
        margin-left: 400px;
    }
    .session1{
        margin-left: 85px;
    }
}

@media (max-width: 1181px){
    .txt{
        margin-left: 340px;
        margin-top: 125px;
    }
    .img1{
        width: 319px;
    }
}

@media (max-width: 1161px){
    .img-site{
        width: 1026px;
    }
}

@media (max-width: 1149px){
    .txt{
        width: 678px;
    }
    .text-site{
        width: 936px;
    }
    .session{
        margin-left: 36px;

    }
    .session1{
        margin-left: 36px;
    }
    .titulo1{
        margin-left: 410px;
    }
}

@media (max-width: 1074px){
    .img-site{
        width:940px;
    }
    .session{
        width: 805px;
        margin-left: 95px;
    }
    .session1{
        width: 805px;
        margin-left: 95px;
    }
    .titulo{
        margin-left: 240px;
    }
    .txt-site{
        font-size: 33px;

    }
}

@media (max-width: 1054px){
    .txt{
        width: 583px;
    }
}

@media (max-width: 1013px){
    .text-site{
        width: 789px;
    }
    .img-site{
        margin-left: 845px;
    }
    .titulo1{
        margin-left: 336px;
    }
}

@media (max-width: 990px){
    .img-site{
        width: 845px;
        margin-left: 18px;
    }
    .session{
        margin-left: 35px;
        margin-top: 421px;
    }
    .session1{
        margin-left: 35px;
    }
    .btn{
        margin-left: 304px;
    }
    .img1{
        width: 284px;
    }
    .txt{
        margin-left: 300px;
        margin-top: 86px;
    }

}

@media (max-width: 917px){
    .txt{
        width: 486px;
    }
    .session{
        margin-top: 380px;
    }
}

@media (max-width: 896px){
    .img-site{
        width: 794px;
    }
    .text-site{
        font-size: 33px;
    }
    .btn{
        margin-left: 260px;
    }
}

@media (max-width: 876px){
    .session{
        margin-left:24px;
        width: 760px;
    }
    .session1{
        margin-left:24px;
        width: 760px;
    }
    .titulo2{
        margin-left: 310px;
    }
    .img-site{
        width:753px;
    }
    .text-site{
        width: 717px;
        margin-left: 23px;
    }
}

@media (max-width: 876px){
    .session1{
        width: 670px;
    }
    .session{
        width:670px;
    }
    .img-site{
        width:725px;
    }
    .titulo1{
        margin-left: 286px;
    }
    .titulo{
        margin-left: 178px;
    }
    .img1{
        width: 253px;
    }
    .txt{
        margin-left: 269px;
    }
}

@media (max-width: 794px){
    .txt{
        font-size: 32px;
        margin-left: 238px;
        margin-top: 75px;
    }
    .img1{
        width: 226px;
    }
}

@media (max-width: 776px){
    .img-site{
        width: 674px;
    }
    .text-site{
        width: 656px;
        font-size: 32px;
    }
    .btn{
        margin-left: 192px;
    }
    .txt{
        width: 454px;
    }
}

@media (max-width: 753px){
    .txt{
        width: 443px;
    }
    .session{
        margin-left: 10px;
    }
    .session1{
        margin-left: 10px;
    }
    .titulo1{
        margin-left: 240px;
    }
    .img-site{
        width: 644px;
    }
}

@media (max-width: 716px){
    .session1{
        width: 620px;
    }
    .session{
        width: 620px;
    }
    .text-site{
        width: 602px;
    }
    .titulo{
        margin-left: 143px;
    }
    .img-site{
        width: 615px;
    }
    .img{
        width: 217px;
    }
    .txt{
        width: 405px;
        margin-top: 59px;
    }
}

@media (max-width: 700px) {
    .img1{
        width: 200px;
        margin-top: 7px;
        margin-left: 87px;
    }
    .txt{
        width: 266px;
        font-size: 24px;
        margin-left: 21px;
        margin-top: 32px;
    }
    .session{
        height: 642px;
        width: 332px;
        margin-top: 163px;
        margin-left: 17px;
    }
    .session1{
        height: 445px;
        width: 332px;
        margin-top: 163px;
        margin-left: 17px;
    }
    .titulo{
        margin-left: 35px;
        font-size: 30px;
    }
    .cop1{
        font-size: 21px;
        margin-bottom: 50px;
        margin-top: 82px;
    }
    .img-site{
        margin-left: 0px;
        width: 364px;
    }
    .titulo2{
        margin-left: 110px;
        font-size: 30px;
    }
    .text-site{
        font-size: 29px;
        margin-left: 15px;
    }
    .titulo1{
        margin-left: 60px;
    }
    .btn{
        margin-left: 39px;
        font-size: 25px;
        height: 53px;
        width: 244px;
    }

}
